Repository ansible-community/collection_migration, pull requests merged in 2020-02, with the labels that each got.

#239 WIP use-case for ansible-base
  ansible-base.md
Labels: BCS, documentation

#426 [NWO] Migrate x509_crl module.
  scenarios/nwo/community.yml
Labels: NWO

#374 [NWO] Split AWS into supported/community collections
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#425 Added per collection options
  migrate.py
  scenarios/nwo/community.yml
Labels: NWO, migrate

#430 NWO: Add ipaddr filter to ansible.netcommon
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#428 [NWO] Add awx.awx doc_fragments plugin, also in collection
  scenarios/nwo/awx.yml
  scenarios/nwo/community.yml
Labels: NWO

#432 [NWO] Promote win_certificate_store to core
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#424 Preserve integration test symlinks
  migrate.py
Labels: migrate

#434 Ensure tests dependencies are uniqued
  migrate.py
Labels: migrate

#435 Support additional integration tests deps mechanisms
  migrate.py
Labels: migrate

#436 Try to match entries in BOTMETA even without ext
  migrate.py
Labels: migrate

#437 Remove empty module doc options in the docs
  migrate.py
Labels: migrate

#438 Rewrite modules in DOCUMENTATION.seealso
  migrate.py
Labels: migrate

#440 [NWO] Migrate zabbix_host_events_info.
  scenarios/nwo/community.yml
Labels: NWO

#441 [NWO] Add newly accepted module `ec2_tag_info` to community.amazon
  scenarios/nwo/community.yml
Labels: NWO

#439 Cleanup orphaned integration test targets
  migrate.py
Labels: migrate

#447 update redir
  migrate.py
Labels: migrate

#453 Fix rewrites regression
  migrate.py
Labels: migrate

#451 resolve_spec: avoid changing plugins list in place
  migrate.py
Labels: migrate

#443 [NWO] Migrate various contrib to community.general.
  scenarios/nwo/community.yml
Labels: NWO

#444 [NWO] Migrate vmware contrib to community.vmware.
  scenarios/nwo/community.yml
Labels: NWO

#455 [NWO] Migrate amazon contrib to community.amazon.
  scenarios/nwo/community.yml
Labels: NWO

#459 [NWO] Migrate synchronize-buildah tests.
  scenarios/nwo/community.yml
Labels: NWO

#454 NWO: Create openvswitch.openvswitch collection
  scenarios/nwo/community.yml
  scenarios/nwo/openvswitch.yml
Labels: NWO

#457 NWO: move telnet into ansible.netcommon
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#458 NWO: Create skydive.skydive collection
  scenarios/nwo/community.yml
  scenarios/nwo/skydive.yml
Labels: NWO

#464 parsing/__init__.py should be in _core
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#467 Fix associating integration tests with plugin types
  migrate.py
Labels: migrate

#468 remove unneded init moves
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO

#465 [NWO] AWS scenario changes
  scenarios/nwo/ansible.yml
  scenarios/nwo/community.yml
Labels: NWO
